NODE_ENV=development
PORT=9000

# Mongo
MONGO_URI=mongodb://localhost:27017/api-perf

# Auth
JWT_SECRET=super-long-random-secret-key
JWT_EXPIRES_IN=15m

JWT_REFRESH_SECRET=another-super-long-secret-key
JWT_REFRESH_EXPIRES_IN=7d

# CORS
CLIENT_URL=http://localhost:3000


# REDIS

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_DB_NAME=sixindia